{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}" target="_blank" rel="noopener">{{ title }}</a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>

    {% if post.coauthors %}
      <p class="archive__item-coauthors">(with {{ post.coauthors }})</p>
    {% endif %}

    {% if post.excerpt %}
      <div class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</div>
    {% endif %}

    {% if post.paperurl %}
      <p class="archive__item-links">
        <a href="{{ post.paperurl }}" target="_blank" rel="noopener">PDF</a>
      </p>
    {% endif %}

  </article>
</div>